* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins" sans-serif;
}

body {
  background-color: var(--main-black);
}

h2,
h3,
.contactPhone {
  display: flex;
  flex-direction: column;
  color: var(--main-white);
  max-width: 600px;
  align-items: center;
  margin: auto;
  padding: 10px;
}

a.fas.fa-phone {
  padding-top: 10px;
  font-size: 30px;
}

form {
  padding: 20px;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid;
}

.formError {
  display: none;
  color: red;
  font-size: 0.8rem;
}

input {
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--main-white);
  border: 2px solid;
  color: #000;
}

label {
  display: block;
  margin-top: 1rem;
  color: var(--main-white);
}

button {
  background-color: var(--main-blue);
  border: none;
  width: 150px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 20px;
}
